<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="card text-center">
  <div class="card-header"> Mammonth Science </div>

  <div class="card-body">
    <h5 class="card-title">Enter DNA Sequence</h5>
    <form action="/results/" method="post">
        {% csrf_token %}
    <input type="text" name="dna" required> <br>
    <p><small class="form-text text-muted"> The sequence can only contain letters A, G, C and T. </small> </p>
    <input type="submit" class="btn btn-primary">
    </form>
  </div>
  <div class="card-footer text-muted"> Test Project </div>
</div>
</body>
</html>
